@font-face {
  font-family: 'Arapey Italic';
  src: url("../assets/font/arapey/arapey-italic.ttf");
}

@mixin dark-caption {
  font: {
    family: "Century Gothic";
    size: 24px;
    style: normal;
    weight: normal;
  }
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: default;
}

@mixin light-caption {
  font: {
    family: "Century Gothic";
    size: 24px;
    style: normal;
    weight: normal;
  }
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: default;
}

@mixin medium-caption-cg {
  font: {
    family: "Century Gothic";
    size: 18px;
    style: normal;
  }
  color: #012D48;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin medium-caption-pt {
  font: {
    family: "PT Sans";
    size: 18px;
    style: normal;
    weight: normal;
  }
}

@mixin medium-caption-bold-pt {
  font: {
    family: "PT Sans";
    size: 18px;
    style: normal;
    weight: bold;
  }
  color: #012D48;
}

@mixin header-nav-text {
  font: {
    family: 'PT Sans';
    style: normal;
    weight: normal;
    size: 14px;
  }
  line-height: 25px;
}

@mixin text-nav {
  font: {
    family: 'PT Sans';
    style: normal;
    weight: normal;
    size: 14px;
  }
  line-height: normal;
}

@mixin text-bold {
  font: {
    family: 'PT Sans';
    style: normal;
    weight: bold;
    size: 14px;
  }
}

@mixin text-small {
  font: {
    family: 'PT Sans';
    style: normal;
    weight: normal;
    size: 12px;
  }
  line-height: normal;
}

@mixin text-small-bold {
  font: {
    family: 'PT Sans';
    style: normal;
    weight: bold;
    size: 12px;
  }
  line-height: normal;
  text-align: center;
}

@mixin description-text {
  font: {
    family: 'PT Sans';
    style: normal;
    weight: normal;
    size: 14px;
  }
  line-height: 22px;
  color: #4C7790;
}

@mixin flex-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@mixin center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin flex-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin flex-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@mixin transition-cb-all {
  -webkit-transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  background: #FCFCFC;
}

/*HEADER*/
.header {
  @include flex-vertical;
  @include space-around;
  @include center;
  width: 100%;
}

.header__container {
  @include flex-horizontal;
  @include flex-end;
  @include space-between;
  position: relative;
  max-width: 1175px;
  width: 100%;
  height: 75px;
  margin-bottom: 10px;
}

.header-list {
  @include flex-horizontal;
  &:first-child .header-item {
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
  }
  &:last-child .header-item {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.header-logo {
  position: absolute;
  width: 196px;
  height: 59px;
  bottom: 0;
  left: calc(50% - 98px);
  cursor: pointer;
}

.header-item {
  @include header-nav-text;
  color: #4C7790;
}

.header-item-link.auth {
  @include header-nav-text;
  @include transition-cb-all;
  color: #4C7790;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #4C7790;
    left: 0;
    bottom: -2px;
    @include transition-cb-all;
  }
  &:hover {
    opacity: .7;
    &:after {
      opacity: .7;
    }
  }
}

.header-item #user_name,
.header-list:last-child .header-item-link {
  @include header-nav-text;
  cursor: pointer;
  color: #4C7790;
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    background: #4C7790;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
    background: #4C7790;
    -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover {
    &:before {
      background: #4C7790;
      width: 100%;
      -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
}

.header-good-link {
  @include flex-horizontal;
  @include header-nav-text;
  color: #59BCCC;
}

.header-good-link span {
  &:first-child {
    margin-right: 20px;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      bottom: 2px;
      background: #59BCCC;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
      background: #59BCCC;
      -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:hover {
      &:before {
        background: #59BCCC;
        width: 100%;
        -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      &:after {
        background: transparent;
        width: 100%;
        transition: 0s;
      }
    }
  }
}

.cart-icon {
  display: block;
  width: 22px;
  margin-top: 3px;
  height: 18px;
  background: url('../assets/img/png/basket.png') no-repeat 50% 50%;
  background-size: cover;
  @include transition-cb-all;
  &:hover {
    opacity: .7;
  }
}

.header-item.good {
  position: relative;
}

.header-good__container {
  position: absolute;
  display: none;
  top: 40px;
  right: -30px;
  min-width: 200px;
  background: #FFFFFF;
  box-shadow: 0 2px 25px 3px #BBD8E0;
  border-radius: 10px;
  padding: 25px 50px 25px 25px;
  &:before {
    position: absolute;
    content: '';
    right: 30px;
    top: -25px;
    border: 10px solid transparent;
    border-bottom: 15px solid #FFFFFF;
  }
}

.header-good-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  @include transition-cb-all;
  &:before,
  &:after {
    position: absolute;
    content: '';
    top: 8px;
    left: 3px;
    width: 11px;
    height: 1px;
    background: #012D48;
    cursor: pointer;
    @include transition-cb-all;
  }
  &:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:hover {
    background: #012D48;
    &:before,
    &:after {
      background: #FFFFFF;
      width: 8px;
      left: calc(50% - 4px);
    }
  }
}

.header-good-text {
  @include text-small;
  color: #012D48;
}

.header-link {
  @include text-small-bold;
  @include transition-cb-all;
  color: #7BB5CD;
  position: relative;
  display: inline;
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #7BB5CD;
  }
  &:hover {
    opacity: .7;
    &:after {
      opacity: .7;
    }
  }
}

.header-special__container {
  max-width: 1175px;
  width: 100%;
  margin-top: 10px;
  background: #3EC2CF;
  height: 40px;
  @include flex-horizontal;
  @include center;
}

.header-special-icon {
  width: 21px;
  height: 21px;
  background: url("../assets/img/svg/star-white.svg") no-repeat 50% 50%;
  background-size: cover;
  margin: auto 10px auto auto;
}

.header-special-text {
  @include text-bold;
  @include transition-cb-all;
  cursor: pointer;
  color: #FCFCFC;
  margin: auto auto auto 0;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #FCFCFC;
  }
  &:hover {
    opacity: .7;
    &:after {
      opacity: .7;
    }
  }
}

/*END*/

/*Main header container*/
.main-header__container {
  width: 100%;
  height: 460px;
  z-index: -10;
}

.main-header__box {
  width: 100%;
  height: 420px;
  background: url("../assets/img/png/sky-mount-bg.png") no-repeat 50% 50%;
  background-size: auto 460px;
}

.main-header-wrapper {
  max-width: 1175px;
  margin: 0 auto;
  position: relative;
  height: 460px;
}

.main-header-img.mount--big {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
}

.main-header-img.mount--medium {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
}

.main-header-img.sky {
  height: 460px;
  width: auto;
  max-width: 1175px;
  margin: 0 auto;
  display: block;
}

.main-header-caption {
  position: absolute;
  z-index: 4;
  top: 106px;
  left: calc(50% - 335px);
}

/*END*/

/*Navigation*/
.main-header__container ~ .navigation {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: -80px;
}

.navigation {
  max-width: 100%;
  margin: 0 auto;
  z-index: 10;
}

.navigation-list {
  @include flex-horizontal;
  @include space-around;
  @include center;
  width: 100%;
  min-height: 84px;
  max-width: 1176px;
  margin: 0 auto;
  background: #FFFFFF;
}

.navigation-item {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    background: #59BCCC;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: calc(100% - 20px);
    background: #59BCCC;
    -webkit-transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover {
    &:before {
      background: #59BCCC;
      width: 20px;
      -webkit-transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:after {
      background: transparent;
      width: 20px;
      transition: 0s;
    }
  }
}

.navigation-item-link {
  @include text-nav;
  color: #012D48;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/*END*/

/*Main*/
.main-header__container ~ .navigation ~ .main {
  margin: 75px 0;
}

.main {
  margin: 55px 0;
  width: 100%;
}

/*END*/

/*Main good*/
.main-good-wrapper {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
}

.main-caption {
  @include dark-caption;
  cursor: default;
  color: #012D48;
}

.main-good__block {
  margin: 60px auto 0;
  @include flex-horizontal;
  align-items: stretch;
  flex-wrap: wrap;
}

.main-good__container {
  max-width: 200px;
  width: 100%;
  margin: 0 125px 70px 0;
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.main-good-img-wrapper {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover .main-good-img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.main-good-img-wrapper a {
  width: 100%;
  height: 240px;
  @include flex-horizontal;
}

.main-good-img {
  width: auto;
  cursor: pointer;
  max-height: 200px;
  margin: auto;
  @include transition-cb-all;
}

.main-good-caption {
  @include medium-caption-bold-pt;
  cursor: default;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.main-good-text {
  @include text-small;
  color: #4C7790;
  margin: 10px auto 25px;
  cursor: default;
}

.main-good__box {
  @include flex-horizontal;
  @include center;
  height: 40px;
  width: 100%;
  border: 1px solid #012D48;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

.main-good-box-text,
.main-good-box-btn {
  @include flex-horizontal;
  @include center;
  @include space-around;
  @include header-nav-text;
  height: 40px;
  width: 50%;
  color: #012D48;
}

.main-good-box-text {
  cursor: default;
  border-right: 1px solid #012D48;
}

.main-good-box-btn {
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  @include transition-cb-all;
  &:hover {
    background: #012D48;
    color: #FCFCFC;
  }
}

.main-good__footer {
  @include flex-horizontal;
  flex-wrap: wrap;
}

.main-good-tag {
  @include text-small;
  @include transition-cb-all;
  letter-spacing: 0.05em;
  color: #012D48;
  background: #CBD6DC;
  border-radius: 5px;
  padding: 4px 9px;
  cursor: pointer;
  border: 1px solid #CBD6DC;
  margin: 0 10px 5px 0;
  &:hover {
    background: transparent;
    border: 1px solid #3EC2CF;
    color: #3EC2CF;
  }
}

.main-catalog__container {
  width: 525px;
  height: 440px;
  position: relative;
  overflow: hidden;
  &:hover .main-catalog-img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  &:hover .main-catalog-caption {
    color: #FCFCFC;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  &:hover .main-catalog-link:before {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &:hover .main-catalog-btn {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    transform: translateY(-200px);
  }
}

.main-catalog-link {
  width: 100%;
  height: 440px;
  position: relative;
  @include flex-horizontal;
  @include center;
  @include space-around;
  &:before {
    @include transition-cb-all;
    position: absolute;
    content: '';
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(90, 136, 163, 0.6);
  }
}

.main-catalog-img {
  @include transition-cb-all;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: auto;
  left: 0;
}

.main-catalog-caption {
  @include dark-caption;
  @include transition-cb-all;
  transition-delay: 10ms;
  z-index: 3;
  cursor: pointer;
  color: #012D48;
}

.main-catalog-btn {
  @include text-nav;
  @include transition-cb-all;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition-delay: 20ms;
  position: absolute;
  overflow: hidden;
  z-index: 4;
  top: 100%;
  left: calc(50% - 92px);
  color: #FCFCFC;
  padding: 10px 25px;
  border: 1px solid #FCFCFC;
  &:before,
  &:after {
    @include transition-cb-all;
    background: #FCFCFC;
    content: '';
    position: absolute;
    z-index: -1;
  }
  &:after {
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
  }
  &:hover {
    color: #012D48;
    &:after {
      height: 100%;
      width: 140%;
    }
  }
}
/*end*/

/*Brand good*/
.brand-good-wrapper {
  @include flex-vertical;
  background: #FFFFFF;
  border-radius: 20px;
  width: 100%;
  max-width: 1175px;
  margin: 10px auto 0;
  padding: 55px 95px;
}

.brand-caption {
  @include dark-caption;
  color: #012D48;
}

.brand__box {
  @include flex-horizontal;
  @include flex-start;
  @include space-between;
  flex-wrap: wrap;
  margin: 45px 0 0;
  width: 100%;
}

.brand-good__container {
  max-width: 250px;
}
.brand-good-caption {
  margin-bottom: 25px;
}

.brand-good-caption a {
  @include medium-caption-pt;
  @include transition-cb-all;
  position: relative;
  cursor: pointer;
  color: #012D48;
  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background: #012D48;
    width: 100%;
    height: 1px;
  }
  &:hover {
    opacity: .7;
    &:after {
      opacity: .7;
    }
  }
}

.brand-good-text {
  @include description-text;
}

.brand-good-link {
  @include transition-cb-all;
  @include header-nav-text;
  color: #3EC2CF;
  position: relative;
  cursor: pointer;
  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background: #3EC2CF;
    width: 100%;
    height: 1px;
  }
  &:hover {
    opacity: .7;
    &:after {
      opacity: .7;
    }
  }
}
/*end*/

/*Main img*/
.main-img__container {
  @include flex-horizontal;
  width: 100%;
  height: 300px;
  position: relative;
  margin: 80px 0 0;
  background: #b1c3cd url('../assets/img/png/15.png') no-repeat 0 50%;
  background-size: auto 300px;
}

.main-img-caption {
  @include light-caption;
  color: #FFFFFF;
  max-width: 1155px;
  width: 100%;
  margin: auto;
  text-align: right;
}
/*end*/

/*Articles*/
.article-wrapper {
  width: 100%;
  margin: 80px 0 0;
  position: relative;
}

.articles-caption {
  @include dark-caption;
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  color: #89A9BB;
  cursor: default;
}

.articles__container {
  @include flex-horizontal;
  @include space-between;
  @include flex-start;
  position: relative;
  width: 100%;
  max-width: 1175px;
  margin: 60px auto 0;
}

.article__container {
  max-width: 340px;
  width: 100%;
  position: relative;
  overflow: hidden;
  &:hover .article-img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  &:hover .article-caption {
    opacity: .7;
  }
}

.article-container-link {
  width: 100%;
  height: 100%;
}

.article-img-wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  &:after {
    @include transition-cb-all;
    position: absolute;
    content: '';
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(90, 136, 163, 0.6);
  }
  &:hover {
    &:after {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  &:hover .article-img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  &:hover .article-text {
    -webkit-transform: translateY(-220px);
    -moz-transform: translateY(-220px);
    -ms-transform: translateY(-220px);
    -o-transform: translateY(-220px);
    transform: translateY(-220px);
  }
  &:hover .article-btn {
    -webkit-transform: translateY(-120px);
    -moz-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    -o-transform: translateY(-120px);
    transform: translateY(-120px);
  }
}

.article-text {
  @include medium-caption-pt;
  @include transition-cb-all;
  text-transform: uppercase;
  transition-delay: 40ms;
  position: absolute;
  z-index: 4;
  top: 100%;
  left: 10%;
  width: 80%;
  color: #FCFCFC;
  text-align: center;
}

.article-btn {
  @include text-nav;
  @include transition-cb-all;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition-delay: 20ms;
  position: absolute;
  overflow: hidden;
  z-index: 4;
  top: 100%;
  left: calc(50% - 81px);
  color: #FCFCFC;
  padding: 10px 25px;
  border: 1px solid #FCFCFC;
  &:before,
  &:after {
    @include transition-cb-all;
    background: #FCFCFC;
    content: '';
    position: absolute;
    z-index: -1;
  }
  &:after {
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
  }
  &:hover {
    color: #012D48;
    &:after {
      height: 100%;
      width: 140%;
    }
  }
}

.article-img {
  @include transition-cb-all;
  z-index: 1;
}

.article-caption {
  @include transition-cb-all;
  @include text-bold;
  line-height: 20px;
  color: #89A9BB;
  &:hover {
    opacity: .7;
  }
}

.all-article {
  @include flex-horizontal;
  @include space-around;
  @include center;
  position: absolute;
  top: calc(50% - 20px);
  right: -100px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 240px;
  height: 40px;
  background: #3EC2CF;
}

.article-link {
  @include header-nav-text;
  color: #FCFCFC;
}
/*end*/

/*Brush container*/
.choose-brush__container {
  @include flex-vertical;
  background: #A1DBE4;
  border-radius: 20px;
  max-width: 1175px;
  width: 100%;
  height: 300px;
  margin: 80px auto 0;
}

.choose-brush-img {
  margin: auto auto 0;
}

.choose-brush-link {
  @include transition-cb-all;
  margin: 65px auto auto;
  font-family: 'Century Gothic', sans-serif;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #012D48;
  position: relative;
  cursor: pointer;
  &:after {
    position: absolute;
    content: '';
    bottom: 10px;
    left: 0;
    background: #012D48;
    width: 100%;
    height: 1px;
  }
  &:hover {
    opacity: .7;
    &:after {
      opacity: .7;
    }
  }
}
/*end*/

/*Spetial request*/
.special-wrapper {
  width: 100%;
  background: #EBF2F4;
  margin: 120px 0 0;
  padding: 65px 0 0;
  position: relative;
  overflow-x: hidden;
}

.special-btn {
  @include transition-cb-all;
  @include flex-horizontal;
  @include center;
  @include space-around;
  position: absolute;
  height: 240px;
  width: 40px;
  top: calc(50% - 120px);
  background: #3EC2CF url("../assets/img/svg/arrow-white.svg") no-repeat 50% 50%;
  background-size: 15px auto;
  cursor: pointer;
}

.special-btn.prev {
  left: -10px;
  &:hover {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.special-btn.next {
  right: -10px;
  -webkit-transform: scale(-1,-1);
  -moz-transform: scale(-1,-1);
  -ms-transform: scale(-1,-1);
  -o-transform: scale(-1,-1);
  transform: scale(-1,-1);
  &:hover {
    -webkit-transform: translateX(-10px)scale(-1,-1);
    -moz-transform: translateX(-10px)scale(-1,-1);
    -ms-transform: translateX(-10px)scale(-1,-1);
    -o-transform: translateX(-10px)scale(-1,-1);
    transform: translateX(-10px)scale(-1,-1);
  }
}

.special-caption {
  @include dark-caption;
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
}
.special-list {
  @include flex-horizontal;
  max-width: 1175px;
  width: 100%;
  margin: 65px auto 0;
}

.special-item {
  @include flex-vertical;
  max-width: 200px;
  width: 100%;
  margin-right: 125px;
  padding-bottom: 110px;
  position: relative;
  &:last-child {
    margin-right: 0;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 6px;
    bottom: 0;
    background: #3EC2CF;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
    background: #3EC2CF;
    -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover {
    &:before {
      background: #3EC2CF;
      width: 100%;
      -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
}

.special-img-wrapper {
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  &:hover .special-img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.special-img-link {
  @include flex-horizontal;
  width: 100%;
  height: 240px;
}

.special-img {
  @include transition-cb-all;
  max-height: 200px;
  width: auto;
  margin: auto;
}

.special-item-caption {
  @include medium-caption-pt;
  font-weight: bold !important;
  cursor: default;
  color: #012D48;
}

.special-text {
  @include text-small;
  color: #4C7790;
  margin: 10px auto 25px;
  cursor: default;
}

.special__box {
  @include flex-horizontal;
  @include center;
  height: 40px;
  width: 100%;
  border: 1px solid #012D48;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

.special-box-text,
.special-box-btn {
  @include flex-horizontal;
  @include center;
  @include space-around;
  @include header-nav-text;
  height: 40px;
  width: 50%;
  color: #012D48;
}

.special-box-text {
  cursor: default;
  border-right: 1px solid #012D48;
}

.special-box-btn {
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  @include transition-cb-all;
  &:hover {
    background: #012D48;
    color: #FCFCFC;
  }
}

.special__footer {
  @include flex-horizontal;
  flex-wrap: wrap;
}

.special-tag {
  @include text-small;
  @include transition-cb-all;
  letter-spacing: 0.05em;
  color: #012D48;
  background: #CBD6DC;
  border-radius: 5px;
  padding: 4px 9px;
  cursor: pointer;
  border: 1px solid #CBD6DC;
  margin: 0 10px 5px 0;
  &:hover {
    background: transparent;
    border: 1px solid #3EC2CF;
    color: #3EC2CF;
  }
}
/*end*/

/*Trouble*/

.trouble-wrapper {
  max-width: 1175px;
  width: 100%;
  margin: 90px auto 0;
}

.trouble-caption {
  font-family: 'Arapey Italic', sans-serif;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #012D48;
  margin-bottom: 20px;
}

.trouble-text {
  @include header-nav-text;
  text-align: center;
  color: #768E9C;
}

.trouble__container {
  width: 100%;
}

.trouble--blue {
  background: #A1DBE4;
  border-radius: 20px 20px 0 0;
  margin: 50px 0 0;
  padding: 75px 0 60px;
}

.trouble-container-caption {
  @include dark-caption;
  text-align: center;
  color: #012D48;
}

.trouble-tag__container {
  @include flex-horizontal;
  flex-wrap: wrap;
  margin: 60px auto 100px;
  max-width: 740px;
  width: 100%;
}

.trouble-tag {
  @include transition-cb-all;
  @include text-small;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0 5px 10px rgba(110, 190, 202, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 1% 20px;
  color: #3EC2CF;
  &:hover {
    box-shadow: 0 10px 15px rgba(110, 190, 202, 0.5);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  &:active {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

.trouble-form {
  @include flex-horizontal;
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.trouble-field {
  outline: none;
  border: none;
  width: 865px;
  height: 40px;
  background: #FFFFFF;
  padding: 0 20px;
  @include text-nav;
  letter-spacing: 0.05em;
  color: #012D48;
  &::placeholder {
    @include text-nav;
    letter-spacing: 0.05em;
    color: rgba(110, 190, 202, 0.7);
  }
}

.trouble-btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0 10px 10px 0;
  width: 55px;
  height: 40px;
  position: relative;
  background: #3EC2CF;
  &:before {
    @include transition-cb-all;
    position: absolute;
    content: '';
    left: 3px;
    width: 20px;
    height: 2px;
    top: calc(50% - 1px);
    background: url("../assets/img/svg/search-line.svg") no-repeat 50% 50%;
    background-size: 20px 2px;
    opacity: 0;
  }
  &:after {
    @include transition-cb-all;
    position: absolute;
    content: '';
    left: calc(50% - 2.5px);
    top: calc(50% - 7.5px);
    width: 5px;
    height: 15px;
    background: url("../assets/img/svg/search-arrow.svg") no-repeat 50% 50%;
    background-size: 5px 15px;
  }
  &:hover {
    &:before {
      opacity: 1;
      -webkit-transform: translateX(7px);
      -moz-transform: translateX(7px);
      -ms-transform: translateX(7px);
      -o-transform: translateX(7px);
      transform: translateX(7px);
    }
    &:after {
      -webkit-transform: translateX(7px);
      -moz-transform: translateX(7px);
      -ms-transform: translateX(7px);
      -o-transform: translateX(7px);
      transform: translateX(7px);
    }
  }
}

.trouble--light-green {
  @include flex-horizontal;
  background: #EFF4F3;
  border-radius: 0 0 20px 20px;
  padding: 60px 95px 100px;
}

.trouble__box {
  &:first-child {
    @include flex-vertical;
    margin: 0 auto auto 0;
    padding-right: 100px;
  }
  &:last-child {
    @include flex-horizontal;
    margin: 35px 0 0 auto;
  }
}

.trouble-box-caption {
  @include dark-caption;
  color: #012D48;
  margin-bottom: 35px;
}

.trouble-box-text {
  @include header-nav-text;
  color: #012D48;
  margin-bottom: 35px;
  cursor: default;
}

.trouble-img {
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
}
/*end*/

/*Footer*/
.footer {
  width: 100%;
  margin: 80px 0 0;
  background: linear-gradient(0deg, #DDE7EA, #DDE7EA), #EFF4F3;
}

.footer-wrapper {
  @include flex-horizontal;
  @include space-between;
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

.footer-list--double .footer-item--double {
  margin-bottom: 45px;
}

.footer-item-caption {
  margin-bottom: 25px;
}

.footer-item-caption .footer-item-link {
  @include medium-caption-bold-pt;
  color: #012D48;
}

.footer-item {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.non-cursor .footer-item-link {
  cursor: default;
}

.footer-item.tel .footer-item-link {
  @include medium-caption-pt;
  @include transition-cb-all;
  margin-bottom: 25px !important;
  color: #012D48;
  cursor: pointer !important;
  &:hover {
    color: #3EC2CF;
  }
}

.footer-item .footer-item-link {
  @include text-nav;
  color: #012D48;
}

.underline .footer-item-caption .footer-item-link,
.footer-list--last .footer-item-caption .footer-item-link {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    background: #012D48;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
    background: #012D48;
    -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover {
    &:before {
      background: #012D48;
      width: 100%;
      -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
}

.underline .footer-item .footer-item-link {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    background: #012D48;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
    background: #012D48;
    -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover {
    &:before {
      background: #012D48;
      width: 100%;
      -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
}

.footer-list--double--img {
  position: relative;
  margin-top: 30px;
  width: 230px;
  height: 230px;
}

.footer-list-img {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 230px;
  left: -50px;
  top: 0;
}

.footer-list-text {
  right: 10px;
  top: 105px;
  z-index: 2;
  position: absolute;
  @include medium-caption-pt;
  font-style: italic !important;
  color: #81A6B1;
}

.footer-list--last .footer-item {
  margin-bottom: 45px !important;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer-list--last .footer-item .footer-item-link {
  @include transition-cb-all;
  text-decoration: underline;
  &:hover {
    opacity: .7;
  }
}

.footer__container {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
}

.footer__box {
  @include center;
  @include flex-horizontal;
  @include space-between;
  max-width: 1175px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
}

.footer-year,
.footer-text {
  @include header-nav-text;
  color: #012D48;
  cursor: default;
}
/*end*/
